@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


body {
    background-color: #1a202c;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    box-shadow: 0px 5px 10px #64646440;
}

.btn {
    border: 2px solid white;
    font-weight: 600;
    padding: 12px 20px;
    font-size: 18px;
    color: white;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: #dd6b20;
}


/* loader part */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

.middle {
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%, -50%) rotate(180deg);
    position: absolute;
}
.bar {
    width: 40px;
    height: 150px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    /* box-shadow: 5px 10px 20px inset rgb(0, 0, 0); */
    animation: loader 1.2s linear infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: transparent;
    }

    50% {
        transform: scaleY(1);
        background: #ff802b;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}